body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #0e4640;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 5px 5px 0 0;
}

h1 {
    color: rgb(0, 255, 162);
}

p1 {
    line-height: 2.5;
}

 h2 {
    color: rgb(0, 255, 162);
}

p {
    line-height: 1.6;
}

#main-content {
    margin-top: 20px;
}

.about-section,
.faculty-section {
    margin-bottom: 20px;
}

.faculty-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}

.faculty-card img {
    width: 100%;
    height: auto;
}

.faculty-card p {
    text-align: center;
    padding: 10px;
}
