body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 20px;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.event-container {
    display: flex;
}

.event-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 15px;
    width: 300px;
    text-align: center;
}

.event-card h2 {
    color: #3498db;
}

.event-card ul {
    list-style: none;
    padding: 0;
}

.event-card li {
    margin: 10px 0;
}

@media screen and (max-width: 600px) {
    .event-container {
        flex-direction: column;
        align-items: center;
    }

    .event-card {
        width: 80%;
    }
}




